@(title: String, userDetailsModel: Option[UserDetailsModel], pageId: String = "", sidebarLinks: Seq[(String, String)] = Seq())(content: Html)(implicit request: Request[_])

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <div class="jumbotron text-center">
    <h1>Oververse</h1>
    <p>Space survival in a persistent universe!</p>
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/index">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="@controllers.routes.UniverseController.getUniverse().url">Universe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        @{if(userDetailsModel.isDefined) {
            <li class="nav-item">
              <a class="nav-link" href={controllers.routes.AccountController.getAccount().url}>
              {userDetailsModel.get.username}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={controllers.routes.LoginController.logout().url}>Log Out</a>
            </li>
          } else {
            <li class="nav-item">
              <a class="nav-link" href={controllers.routes.LoginController.getLogin(request.path).url}>Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={controllers.routes.LoginController.getRegister().url}>Register</a>
            </li>
          }
        }
      </ul>
    </div>
  </nav>

  <body>
    <div class="container-fluid">
      <div class="row padding-row">
        @if(sidebarLinks.nonEmpty) {
            <div class="col-12 col-md-2">
              <nav class="sidebar navbar">
              <div class="mt-1">
                <h3 class="text-center">Menu</h3>
              </div>

                @for(link <- sidebarLinks) {
                    <button onclick=@{s"""displayContent("${link._1}Section")"""}>@{link._2}</button>
                }

              </nav>
            </div>
        }

        <div class="col">
            <div class="container navbar-text">
              <content>
                @content
              </content>
            </div>
        </div>
      </div>
    </div>
    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
  </body>
</html>
