@import models.entities.StarEntity
@import models.location.Coordinates

@import models.entities.PlanetEntity
@(system: StarSystem, userDetailsModel: UserDetailsModel)(implicit request: Request[_])

@createXRow(yCoordinate: Int) = {

    @for(xCoordinate <- -8 to 8) {

        <td style="width:@{s"${BigDecimal(1)/17 * 100}%"}">
        @if(xCoordinate == 0 && yCoordinate == 0){
            <img class="content" width="@{system.stellarObject.asInstanceOf[StarEntity].size*5+50}%" src="@{s"/versionedAssets/images/${system.stellarObject.asInstanceOf[StarEntity].colour.name.toLowerCase}Star.png"}">
        }

        @if(system.majorOrbitals.exists(planet => planet.asInstanceOf[PlanetEntity].orbitalCoordinates == Coordinates(xCoordinate, yCoordinate))){
            <img class="content" width="@{system.majorOrbitals.find(planet => planet.asInstanceOf[PlanetEntity].orbitalCoordinates == Coordinates(xCoordinate, yCoordinate)).get.asInstanceOf[PlanetEntity].size*5 +25}%" src="@{s"/versionedAssets/images/planet.png"}" onclick="@{s"""parent.selectPlanet("${system.stellarObject.galaxyName}", ${system.stellarObject.location.galactic.x}, ${system.stellarObject.location.galactic.y} ,$xCoordinate, $yCoordinate)"""}">
        }
        </td>
    }

}

@createYRows() = {

    @for(yCoordinate <- 8 to -8 by -1 ) {
        <tr>
        @createXRow(yCoordinate)
        </tr>
    }
}


<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <div class="map">
        <table width="100%" class="table-map">
        @createYRows()
        </table>
    </div>
</html>