@import models.entities.StarEntity
@import models.location.Coordinates

@import models.entities.PlanetEntity
@(system: StarSystem, userDetailsModel: UserDetailsModel)(implicit request: Request[_])

@createXRow(yCoordinate: Int, star: StarEntity, planets: Seq[PlanetEntity]) = {

    @for(xCoordinate <- -8 to 8) {

        <td style="width:@{s"${BigDecimal(1)/17 * 100}%"}">
        @if(xCoordinate == 0 && yCoordinate == 0){
            <img class="content" width="@{star.size*5+50}%" src="@{s"/versionedAssets/images/${star.colour.name.toLowerCase}Star.png"}" onclick="@{s"""parent.selectStar("${star.galaxyName}", ${star.location.galactic.x}, ${star.location.galactic.y})"""}">
        }

        @if(planets.exists(_.orbitalCoordinates == Coordinates(xCoordinate, yCoordinate))){
            <img class="content" width="@{planets.find(_.orbitalCoordinates == Coordinates(xCoordinate, yCoordinate)).get.size*5 +25}%" src="@{s"/versionedAssets/images/planet.png"}" onclick="@{s"""parent.selectPlanet("${star.galaxyName}", ${star.location.galactic.x}, ${star.location.galactic.y} ,$xCoordinate, $yCoordinate)"""}">
        }
        </td>
    }

}

@createYRows(planets: Seq[PlanetEntity]) = {

    @for(yCoordinate <- 8 to -8 by -1 ) {
        <tr>
            @createXRow(yCoordinate, system.stellarObject.asInstanceOf[StarEntity], planets)
        </tr>
    }
}


<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <div class="map">
        <table width="100%" class="table-map">
            @createYRows(system.majorOrbitals.collect{case p: PlanetEntity => p})
        </table>
    </div>
</html>